###################################################################
# .gitignore file for Android, Java, Eclipse and IntelliJ project #
###################################################################

.DS_Store
.classpath
.project
.settings/
.factorypath
*.apk
*.ap_
*.dex
*.class
.mtj.tmp/
*.war
*.ear
*.log
bin/
gen/
.gradle/
build/
proguard/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

/out/

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

local.properties
crashlytics.properties
crashlytics-build.properties
